body{
background-color: #dadada;
margin: 0;

}
#content-container{
display: grid;
grid-template-columns: 1fr 1fr;


}
.box{
border: 2px solid black;
padding: 15px;
margin: 15px;
}

header{
margin: 0;
height:100%;
background: #fdfdfd;
text-align: center;
}

p{
text-align: center;

}

#header h1 {
  display: table;
  color: green;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 50px 50px 0 50px;
  font-size: 55px;

}

#moving-header {
    position: relative;
    display: inline-block;
    text-align: right;
    background: #3cc091;
    grid-column: 1/3;

}

#moving-header p {
  padding-left: 100%;
  padding:20px;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: right;
  animation: marquee 15s linear infinite;
  margin: 0;
}

.marquee {
    margin: 0 auto;
    overflow: hidden;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@media screen and (min-width: 600px) {


  #content-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  }
#moving-header1:empty {
  height: 2vw;
}
  #moving-header{
    position: relative;
      margin: 0;
      background: #3cc091;
      grid-column: 1/4;
  }
  #moving-header p {
    animation: marquee 22s linear infinite;

  }
}

 img{

   display: block;
    left: 25px;
    max-width: 49.99%;
    min-width: 49.99%;
    top: 25px;
 }
