body {
  background-color: #f1f1f1;
  margin: 0;
  transition: opacity 1s ease;
  font-family: "Playfair Display";
  word-break: break-word;

}

h3 {
  text-align: center;
}

.bottom {
  margin-top: auto;
  text-align: center;
}

button {
  margin-top: 7px;
  background-color: #fcc118;
  color: black;
  border: none;
  user-select: none;
 -webkit-user-select:none;
 -webkit-user-drag:none;
  transition: all .5s ease;
  padding: 10px;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
  color: #fcc118;
  font-weight: 700;
  background-color: white;
  transform: scale(1.1);
}

img {
  display: block;
  left: 25px;
  height: 160px;
  user-select: none;
 -webkit-user-select:none;
 -webkit-user-drag:none;
  width: auto;
  top: 25px;
  transition: all 1.2s ease;
  align-self: center;
  border-radius: 50px;
}

img:hover {
  opacity: 0.6;
}

a {
  text-decoration: none;
  text-align: center;
}

#content-container {
  display: grid;
  grid-template-columns:100%;
  word-wrap: break-word;
  margin-bottom: 5%;
}

.box {
  border: 2px solid #fcc118;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ;
  border-radius: 50px;
}

h1 {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag:none;
  font-family: 'Sniglet';
}

header {
  margin: 0;
  height: 100%;
  background: #353536;
  text-align: center;
}

p {
  text-align: center;
  color: #666;
  text-align: justify;

}

#header h1 {
  display: table;
  color: var(--nex);
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 50px 50px 0 50px;
  font-size: 55px;
}

#moving-header {
  display: block;
  box-shadow: 4px 0px 12px #fcc118 inset;
  background-color: #353536;
  text-align: right;
  width: 100%;
}

#moving-header p {
  padding-left: 100%;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  cursor: text;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag:none;
  text-align: right;
  animation: marquee 15s linear infinite;
  margin: 0;
}

.marquee {
  margin: 0 auto;
  overflow: hidden;
}

/* Make it move */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@media screen and (min-width: 1100px) {
  #content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    height: 300px;
    width: auto;
  }

  .box {
    display: flex;
    justify-content: center;
  }

  #moving-header1:empty {
    height: 2vw;
    cursor: default;
  }

  #moving-header {
    position: relative;
    margin: 0;
    box-shadow: 4px 0px 12px #fcc118 inset;
    grid-column: 1/4;
  }

  #moving-header p {
    animation: marquee 22s linear infinite;
  }
}
